 .header-list .log {
     width: 100px;
     border: 1px solid rgb(197, 197, 197);
     border-radius: 50px;
 }

 .header-list li .sub-menu .logo a {
     color: rgb(219, 219, 219);
 }


 body {
     background: rgb(30, 30, 40);
 }

 form {
     max-width: 420px;
     margin: 50px auto;
 }

 .title .tit {
     color: white;
     text-align: center;
     font-size: 70px;
     font-family: 'Noto Bb';
     padding-bottom: 50px;
 }

 .feedback-input {
     color: white;
     font-size: 18px;
     border-radius: 5px;
     line-height: 22px;
     background-color: transparent;
     border: 2px solid #CC6666;
     transition: all 0.3s;
     padding: 13px;
     margin-bottom: 15px;
     width: 100%;
     box-sizing: border-box;
     outline: 0;
 }

 .feedback-input:focus {
     border: 2px solid #CC4949;
 }

 textarea {
     height: 150px;
     line-height: 150%;
     resize: vertical;
 }

 [type="submit"] {
     width: 100%;
     background: #CC6666;
     border-radius: 5px;
     border: 0;
     cursor: pointer;
     color: white;
     font-size: 24px;
     padding-top: 10px;
     padding-bottom: 10px;
     transition: all 0.3s;
     margin-top: -4px;
 }

 [type="submit"]:hover {
     background: #CC4949;
 }



 .selectdiv {
     position: relative;
     /*Don't really need this just for demo styling*/
    margin-bottom: 15px;
     float: left;
 }

 /* IE11 hide native button (thanks Matt!) */
 select::-ms-expand {
     display: none;
 }

 .selectdiv:after {
     content: '<>';
     font: 17px "Consolas", monospace;
     color: rgb(255, 255, 255);
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg);
     right: 15px;
     /*Adjust for position however you want*/

     top: 15px;
     padding: 0 0 2px;
     border-bottom: 1px solid #999;
     /*left line */

     position: absolute;
     pointer-events: none;
 }

 .selectdiv select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     /* Add some styling */
     display: block;
     width: 420px;
     height: 52px;
     padding: 0px 24px;
     font-size: 16px;
     line-height: 1.75;
     color: rgb(255, 255, 255);
     background-color: #ffffff00;
     background-image: none;
     border: 2px solid #CC6666;
     -ms-word-break: normal;
     word-break: normal;
    border-radius: 5px;
 }



 html {
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
 }

 * {
     box-sizing: inherit;
 }

 *:before,
 *:after {
     box-sizing: inherit;
 }


 body .selectMultiple {
     margin-top: -12%;
 }

 body .dribbble {
     position: fixed;
     display: block;
     right: 20px;
     bottom: 20px;
     opacity: 0.5;
     transition: all 0.4s ease;
 }

 body .dribbble:hover {
     opacity: 1;
 }

 body .dribbble img {
     display: block;
     height: 36px;
 }