table.type10 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 2%;
    margin-left: 18%;
    margin-bottom: 5%;
}

table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #002063;
    margin: 20px 10px;
}

table.type10 tbody th {
    width: 150px;
    padding: 10px;
}

table.type10 td:first-child, table.type10 td:nth-child(2) {
    width: 100px;
}

table.type10 td:nth-child(3) {
    width: 200px;
}

table.type10 td:nth-child(4) {
    width: 700px;
}


table.type10 td:nth-child(5) {
    width: 100px;
}

table.type10 td {
    width: 300px;
    padding: 10px;
    vertical-align: top;
}

.title {
    text-align: center;
    padding-top: 8%;
}

.title .tit {
    font-family: 'Noto Bb';
    font-size: 30px;
}

.lets-a {
    position: absolute;
    top: 25%;
    right: 20%;
    color: #999;
}

